.imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
}
/* Base styles for the image container */
.imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.imageContainer h3 {
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  background: #364d79;
}
.imageContainer .image {
  object-fit: contain;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .imageContainer {
    height: 300px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .imageContainer {
    height: 200px;
  }
}
